.wrapper {
	position: absolute;
	top:  50%;
	left: 50%;
	width: 80%;
	transform: translate(-50%, -50%);
}

.form-content {
	width: 70%;
}

.reg-success {
	border: 2px solid #1fef37;
	text-align:  center;
	padding:  10px 20px;
}